[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
